*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.back-img{
    width: 100%;
    height: 400px;
    background-image: url(../imagem/computadores.jpg);
}
.back-img h2{
    padding-top: 200px;
    text-align: center;
    font-size: 3rem;/*1rem = 16px; */
    color:rgb(117, 0, 128);
}