h2{color:red;}
#lor{
    background-color: black;
    color:white;
}
.cor1{
    color:gray;
}
.cor2{
    color:tomato;
}
.jr{
    border-left: 5px solid blue;/* borda da esquerda */
    border-top: 5px solid red;/* borda do topo(cima) */
    border-right: 5px solid yellow;/* borda da direita*/
    border-bottom: 5px solid green;/* borda de baixo*/
    background-color: whitesmoke;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    width: 50%;
    color:blue;
}