#dv1{
    border: 5px solid #00ff00;
}
.cor1{
    background-color: #000000;
}
.cor2{
    color:#ffffff;
}
.cor3{
    background-color: #0000ff;
}
.cor4{
    /* R G B Decimal: 0 - 255  */
    color:rgb(0,0,255);
}
.cor5{
    /* R G B Porcentagem: 0% - 100%*/
    color:rgb(100%,0%,0%);
}
.cor6{
    /* cor de fundo cinza claro com RGB*/
    background-color: rgb(75%,75%,75%);
}
.cor7{
    background-color: hsla(38, 61%, 25%, 0.431);
}
.cor8{
    background-color:hsl(240,70%,50%)
}
.cor9{
    background-color: hsl(0,0%,0%);
}
.cor10{
    background-color: hsl(0,0%,100%);
}
#dv2{
    border: 5px dashed hsl(0,0%,70%);
}
/*
quero montar uma cor vermelho
Nome da cor em inglês: red
Hexadecimal: #ff0000
RGB: rgb(255,0,0)
HSL: hsl(0,100%,50%) 
*/